body {
	padding-bottom: 70px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:focus, *:focus, .btn:focus, .btn.active:focus, .btn:active:focus {
	outline: none;
}

.form-horizontal .control-label {
	text-align: left;
}